<h1>Employee Expenses</h1>

<table border="1">
    <tr>
        <th>Email</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date Of Expense</th>
    </tr>
    {% for x in expenses %}
    <tr>
        <td> {{ x.user_id.email }} </td>
        <td> {{ x.category }} </td>
        <td> {{ x.description }} </td>
        <td> $ {{ x.amount }} </td>
        <td> {{ x.dateofExpense }} </td>
    </tr>
    {% endfor %}
</table>

<!-- <p>
    <a href="addExpense/">Add Expense</a>
</p> -->

<p>
    <a href="addExpense/"><button type="submit" class="btn btn-primary">Add Expense</button></a>
</p>

<br>

<h1>Approvals</h1>

<table border="1">
    <tr>
        <th>Approval Id</th>
        <th>Expense Id</th>
        <th>Status</th>
        <th>Reviewer</th>
        <th>Date Approved</th>
        <th>Comment</th>
    </tr>
    {% for x in Approval %}
    <tr>
        <td> {{ x.id }} </td>
        <td> {{ x.expense_id }} </td>
        <td> {{ x.get_status_display }} </td>
        <td> {{ x.reviewer.email }} </td>
        <td> {{ x.dateReviewed }} </td>
        <td> {{ x.comment }} </td>
    </tr>
    {% endfor %}
</table>